@font-face {
  font-family: "SLEIGothicTTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "SLEIGothicTTF", sans-serif;
  font-size: 13px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 34px;
  font-family: "SLEIGothicTTF", sans-serif;
}

h2 {
  font-size: 20px;
  font-family: "SLEIGothicTTF", sans-serif;
}

h3 {
  font-size: 16px;
  font-family: "SLEIGothicTTF", sans-serif;
}

.mypage-area {
  width: 100vw;
  height: 100vh;
  background: #fff;
}
.mypage-area .header-title {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  height: 60px;
  background: #e1d4c3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mypage-area .header-title .header-left {
  display: flex;
}
.mypage-area .header-title .header-left .closeBtn {
  margin-right: 20px;
  padding-top: 5px;
}
.mypage-area .header-title .header-right img:first-child {
  margin-right: 20px;
}
.mypage-area .content {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}
.mypage-area .content .memberBtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
}
.mypage-area .content .memberBtn button {
  width: 130px;
  height: 46px;
  cursor: pointer;
}
.mypage-area .content .memberBtn button h3 {
  color: #fff;
}
.mypage-area .content .memberBtn .login {
  background: #a78a6c;
  border: none;
  border-radius: 10px;
}
.mypage-area .content .memberBtn .join {
  background: #e1d4c3;
  border: none;
  border-radius: 20px;
}
.mypage-area .content ul {
  margin-top: 50px;
  border-top: 1px solid #667085;
}
.mypage-area .content ul li {
  border-bottom: 1px solid #dfdfdf;
}
.mypage-area .content ul li:last-child {
  border: none;
}
.mypage-area .content ul li a {
  display: flex;
  padding: 12px 0 12px 20px;
}
.mypage-area .content ul li a h3 {
  margin-left: 8px;
}

.menu-wrap {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  height: 55px;
  background: #e1d4c3;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
}
.menu-wrap ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-wrap ul a {
  display: block;
  text-align: center;
  margin-top: 7px;
}
.menu-wrap ul a img {
  color: #fff;
  width: 25px;
}
.menu-wrap ul a span {
  display: block;
  color: #fff;
  font-size: 12px;
  margin-top: -3px;
}
.menu-wrap ul a.on img {
  color: #000000;
}
.menu-wrap ul a.on span {
  color: #000000;
}

.category-area {
  width: 100vw;
  height: 100vh;
  z-index: 99;
  position: fixed;
  top: 0;
  left: -110%;
  background: #fff;
}
.category-area .category-title {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  height: 60px;
  background: #e1d4c3;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.category-area .category-title .closeBtn {
  margin-right: 20px;
  padding-top: 5px;
}
.category-area .category {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  background: #fff;
  margin-top: 15px;
  box-sizing: border-box;
}
.category-area .category li {
  border-bottom: 1px solid #dfdfdf;
}
.category-area .category li:last-child {
  border-bottom: none;
}
.category-area .category li a {
  display: flex;
  padding: 20px 30px 20px 0;
  justify-content: space-between;
  align-items: center;
}
.category-area .category li a h3 {
  padding-left: 25px;
}
.category-area .category li a .go {
  transform: rotate(-90deg);
}
.category-area .category li a .unfold {
  transform: rotate(180deg);
}
.category-area .category li .submenu.hidden {
  display: none;
}
.category-area .category li .submenu .two-depth {
  border-bottom: none;
}
.category-area .category li .submenu .two-depth a {
  padding: 7px 0 7px 25px;
}
.category-area .category li .submenu .two-depth:last-child a {
  padding-bottom: 15px;
}/*# sourceMappingURL=mypage.css.map */